﻿@model IEnumerable<Project.Application.ViewModels.VagasViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EscolaridadeExigida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantidadeDeVagas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoDeVaga)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorInscricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EscolaridadeExigida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantidadeDeVagas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoDeVaga)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorInscricao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
