﻿@model Project.Application.ViewModels.ConcursoViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ConcursoViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataInicioInscricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataInicioInscricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataFimInscricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataFimInscricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataLimiteParaPagamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataLimiteParaPagamento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
