﻿@model Project.Application.ViewModels.AtosDaComissaoViewModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AtosDaComissaoViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataFimDaVisibilidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataFimDaVisibilidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataInicioDaVisibilidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataInicioDaVisibilidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ativo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
