﻿@model Project.Application.ViewModels.AtosDaComissaoViewModel

<div>
    <h4>AtosDaComissaoViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataFimDaVisibilidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataFimDaVisibilidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataInicioDaVisibilidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataInicioDaVisibilidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ativo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
